body {
font-family: "Interstate",Arial,sans-serif;
}
.banner-red {
    font-weight: bold;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    padding: 20px;
    margin-top: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: #b10e1e;
    color: #b10e1e;
}
.banner-orange {
    font-weight: bold;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    padding: 20px;
    margin-top: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: #cd4c0b;
    color: #cd4c0b;
}
.banner-green {
    font-weight: bold;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    padding: 20px;
    margin-top: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: #00823b;
    color: #00823b;
}
* {
  box-sizing: border-box;
}
.row {
  display: flex;
  border-bottom: 2px solid #949e83;
margin-top: 10px;
margin-bottom: 10px;
}
.one-column {
  flex: 100%;
  padding: 5px;
}
@media (min-width: 40.0625em) {
.two-column {
  flex: 50%;
  padding: 5px;
}
}
.two-column {
    flex: 100%;
}
.three-column {
  flex: 33%;
  padding: 5px;
}
.four-column {
  flex: 25%;
  padding: 5px;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: grey;
}
.table {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
}
@media (min-width: 40.0625em)
.table {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
}
@media (min-width: 40.0625em)
.table {
    margin-bottom: 30px;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.table__header, .table__cell {
    padding: 10px 20px 10px 0;
    border-bottom: 1px solid #b1b4b6;
    text-align: left;
    vertical-align: top;
}
.table__header {
    font-weight: 700;
}
.table__header:last-child, .table__cell:last-child {
    padding-right: 0;
}
.table__header, .table__cell {
    padding: 10px 20px 10px 0;
    border-bottom: 1px solid #b1b4b6;
    text-align: left;
    vertical-align: top;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
h1 {
font-size: 40px;
color: #949e83;
font-weight: bold;
margin-block-start: 0em;
margin-block-end: 0em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}
h2 {
font-size: 32px;
font-weight: bold;
margin-block-start: 0em;
margin-block-end: 0em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}
h3 {
font-size: 22px;
font-weight: bold;
margin-block-start: 0em;
margin-block-end: 0em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}
h4 {
font-size: 16px;
font-weight: bold;
margin-block-start: 0em;
margin-block-end: 0em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}
.text {
font-size: 18px;
}
#site {
padding-left: 20px;
padding-right: 20px;
top: -10px;
}
#site-head {
padding-left: 20px;
padding-right: 20px;
}
.header {
padding-bottom: 10px;
padding-top: 10px;
}
heading {
padding-top: 5px;
padding-bottom: 5px;
}
.gap {
font-size: 15px;
}
.school-name {
margin-top: -12px;
}
@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
.list-item-1 {
margin-bottom: 0px;
}
.list-item-2 {
margin-top: -10px;
margin-bottom: 0px;
}
.list-item-3 {
margin-top: -10px;
}
.notice-row {
margin-bottom: 0px;
margin-top: 0px;
top: -10px;
}
.link {
color: #949e83;
}
.page-header {
background-color: #949e83;
color: #fff;
}
html, body {
margin: 0;
padding: 0;
}
.h1-header {
color: #fff;
}
head {
margin-top: -5px;
}
header {
position: relative;
top: -10px; 
}
