@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
font-family: "Montserrat", Arial, sans-serif;
font-size: 15px;
}

h1 {
font-family: "Montserrat", Arial, sans-serif;
font-size: 24px;
font-weight:700;
}
